url(https://cdn.builder.io/api/v1/image/assets/TEMP/2082a15e-6568-45b7-b2c2-3431ec68022a?apiKey=b1bc1edbc623477fba63d23823d10a32）{
    max width: 100%;
    margin: auto;
    display: block;}

url(https://cdn.builder.io/api/v1/image/assets/TEMP/83baac1f-e704-479d-b36d-7e2ac3e19118?apiKey=b1bc1edbc623477fba63d23823d10a32）{
    max width: 30%;
    margin: auto;
    display: block;}
