









.desktop-1 {
  background-color: var(--dark-slate-gray);
  padding: 55px 0 193px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-two {
  margin-bottom: 70px;
  padding: 0 0 0 53px;
  display: flex;
  align-items: flex-start;
}
.butconfectuonery {
  height: 34px;
  width: 829px;
  color: var(--white-smoke);
  display: flex;
  margin-right: 61px;
  font-family: var(--whisper-64-regular-family);
  font-size: var(--whisper-64-regular-size);
  font-weight: var(--whisper-64-regular-weight);
  line-height: var(--whisper-64-regular-line-height);
}
.home {
  height: 34px;
  width: 84px;
  color: var(--white-smoke);
  display: flex;
  margin-top: 22px;
  margin-right: 24px;
  font-family: var(--jomolhari-24-regular-family);
  font-size: var(--jomolhari-24-regular-size);
  font-weight: var(--jomolhari-24-regular-weight);
  line-height: var(--jomolhari-24-regular-line-height);
}
.about {
  height: 34px;
  width: 98px;
  color: var(--white-smoke);
  display: flex;
  margin-top: 22px;
  margin-right: 24px;
  font-family: var(--jomolhari-24-regular-family);
  font-size: var(--jomolhari-24-regular-size);
  font-weight: var(--jomolhari-24-regular-weight);
  line-height: var(--jomolhari-24-regular-line-height);
}
.access {
  height: 34px;
  width: 107px;
  color: var(--white-smoke);
  display: flex;
  margin-top: 22px;
  font-family: var(--jomolhari-24-regular-family);
  font-size: var(--jomolhari-24-regular-size);
  font-weight: var(--jomolhari-24-regular-weight);
  line-height: var(--jomolhari-24-regular-line-height);
}
.flex-wrapper-one {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/b72628d0-74e1-4a44-8211-777b3908ff3d.png");
  margin-bottom: 195px;
  padding: 424px 102px 304px 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
. {
  height: 208px;
  width: 1129px;
  display: flex;
  margin-bottom: 338px;
  margin-left: 8px;
  font-family: "Zen Old Mincho";
  font-size: 56px;
  font-weight: 600;
  line-height: normal;
  color: var(--dark-slate-gray);
}
.emphasis-0 {
  font-family: "Zen Old Mincho";
  font-size: 88px;
  font-weight: 600;
  line-height: normal;
  color: var(--dark-slate-gray);
}
.emphasis-2 {
  font-family: "Zen Old Mincho";
  font-size: 56px;
  font-weight: 600;
  line-height: normal;
  color: var(--dark-slate-gray);
}
.emphasis-3 {
  font-family: "Zen Old Mincho";
  font-size: 64px;
  font-weight: 600;
  line-height: normal;
  color: var(--dark-slate-gray);
}
. {
  height: 47px;
  width: 1183px;
  color: var(--white-smoke);
  display: flex;
  font-family: var(--zen-old-mincho-32-semi-bold-family);
  font-size: var(--zen-old-mincho-32-semi-bold-size);
  font-weight: var(--zen-old-mincho-32-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-32-semi-bold-line-height
  );
}
.menu {
  height: 86px;
  width: 178px;
  color: var(--white-smoke);
  display: flex;
  text-decoration: underline;
  margin-bottom: 93px;
  margin-left: 629px;
  font-family: var(--jomolhari-52-regular-family);
  font-size: var(--jomolhari-52-regular-size);
  font-weight: var(--jomolhari-52-regular-weight);
  line-height: var(--jomolhari-52-regular-line-height);
}
.flex-wrapper-three {
  padding: 0 0 0 104px;
  display: flex;
  align-items: flex-start;
}
.flex-wrapper-three:not(:last-of-type) {
  margin-bottom: 23px;
}
.img-9308-3 {
  width: 323px;
  height: 322px;
}
.img-9308-3:not(:last-of-type) {
  margin-right: 132px;
}
.flex-wrapper-four {
  padding: 0 0 0 113px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 34px;
  width: 305px;
  color: var(--white-smoke);
  display: flex;
  margin-right: 153px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 34px;
  width: 289px;
  color: var(--white-smoke);
  display: flex;
  margin-right: 164px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 34px;
  width: 303px;
  color: var(--white-smoke);
  display: flex;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
.flex-wrapper-five {
  margin-bottom: 92px;
  padding: 0 0 0 149px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 35px;
  width: 219px;
  color: var(--black);
  display: flex;
  margin-right: 253px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 35px;
  width: 200px;
  color: var(--black);
  display: flex;
  margin-right: 209px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 35px;
  width: 290px;
  color: var(--black);
  display: flex;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
.flex-wrapper-six {
  margin-bottom: 22px;
  padding: 0 0 0 104px;
  display: flex;
  align-items: flex-start;
}
.img-9327-4 {
  width: 323px;
  height: 323px;
}
.img-9327-4:not(:last-of-type) {
  margin-right: 132px;
}
. {
  height: 35px;
  width: 338px;
  color: var(--white-smoke);
  display: flex;
  margin-right: 135px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 35px;
  width: 289px;
  color: var(--white-smoke);
  display: flex;
  margin-right: 164px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 35px;
  width: 290px;
  color: var(--white-smoke);
  display: flex;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
.flex-wrapper-eight {
  margin-bottom: 93px;
  padding: 0 0 0 181px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 34px;
  width: 168px;
  color: var(--black);
  display: flex;
  margin-right: 250px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 34px;
  width: 244px;
  color: var(--black);
  display: flex;
  margin-right: 235px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 34px;
  width: 195px;
  color: var(--black);
  display: flex;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
.flex-wrapper-ten {
  padding: 0 0 0 133px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 35px;
  width: 265px;
  color: var(--white-smoke);
  display: flex;
  margin-right: 154px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 35px;
  width: 338px;
  color: var(--white-smoke);
  display: flex;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
.flex-wrapper-eleven {
  margin-bottom: 330px;
  padding: 0 0 0 181px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 34px;
  width: 155px;
  color: var(--black);
  display: flex;
  margin-right: 240px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 34px;
  width: 288px;
  color: var(--black);
  display: flex;
  margin-right: 190px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
.relative-wrapper-one {
  position: relative;
}
. {
  height: 35px;
  width: 179px;
  color: var(--white-smoke);
  display: flex;
  position: absolute;
  left: 26px;
  top: -34px;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
. {
  height: 34px;
  width: 243px;
  color: var(--black);
  display: flex;
  position: relative;
  font-family: var(--zen-old-mincho-24-semi-bold-family);
  font-size: var(--zen-old-mincho-24-semi-bold-size);
  font-weight: var(--zen-old-mincho-24-semi-bold-weight);
  line-height: var(
    --zen-old-mincho-24-semi-bold-line-height
  );
}
.access-two {
  height: 86px;
  width: 227px;
  color: var(--white-smoke);
  display: flex;
  text-decoration: underline;
  margin-bottom: 107px;
  margin-left: 608px;
  font-family: var(--jomolhari-52-regular-family);
  font-size: var(--jomolhari-52-regular-size);
  font-weight: var(--jomolhari-52-regular-weight);
  line-height: var(--jomolhari-52-regular-line-height);
}
.num-606-82712-116 {
  height: 60px;
  width: 852px;
  font-family: "Zen Old Mincho";
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  color: var(--white-smoke);
  display: flex;
  margin-bottom: 57px;
  margin-left: 309px;
}
.jr {
  height: 121px;
  width: 975px;
  font-family: "Zen Old Mincho";
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  color: var(--white-smoke);
  display: flex;
  text-align: center;
  margin-left: 265px;
}
